// Template style
.sidebar-fixed {
    height: 100vh;
    width: 270px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
    .list-group {
        .active {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
            border-radius: 5px;
        }
    }
    .logo-wrapper {
        padding: 2.5rem;
        img {
            max-height: 50px;;
        }
    }
}

@media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
        padding-left: 270px;
    }
}

@media (max-width: 1199.98px) {
    .sidebar-fixed {
        display: none;
    }
}