// Template style
.gradient-custom {
  background: #3a7bd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3a6073), to(#3a7bd5));
  background: -webkit-linear-gradient(left, #3a6073, #3a7bd5);
  background: -o-linear-gradient(left, #3a6073, #3a7bd5);
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-comments img {
  width: 4rem;
}