#intro {
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#155799), to(#159957));
  background: -webkit-linear-gradient(left, #155799, #159957);
  background: -o-linear-gradient(left, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
